* {
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  font-size: 16px;
  font-weight: 400;
}

.logo {
  padding-bottom: 1em;
  padding-top: 1em;
  width: auto;
  height: auto;
}

h1, h2 {
  margin: 10px 0px;
}

.nav {
  text-align: center;
}

.nav li {
  display: inline-block;
}

.list-map {
  margin: 0 auto;
  width: 80%;
}

#pageHeader {
  border-bottom: 1px solid #aaaaaa;
}

.center-text {
  text-align: center;
}

.mainList {
  text-align: center;
  margin: 2.5%;
}

.listItem {
  width: 85%;
  color: white;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 5%;
  padding: 1.5%;
  opacity: 0.6;
  font-size: 1em;
}

.listItem a {
  text-decoration: none;
}

.list-group {
  padding-left: 15px;
  padding-right: 15px;
}

.list-group-item {
  font-size: 3em;
  padding: 15px 20px 15px 20px; 
}

a.list-group-item {
  padding-right: 80px;
}

.listHeading {
  cursor: pointer;
  font-size: 3em;
  font-weight: bold;
}

#listViewHeader {
  padding-bottom: 0;
}

#distanceTitle {
  padding-right: 1.5em;
}

#waitTitle {
  position: absolute;
  right: 5%;
}

#restViewMap {
  height: 500px;
  padding: 0px 15px;
}

.restaurantInfoWrapper {
  padding: 40px 30px;
}

#restName {
  font-size: 4em;
}

.restInfo {
  font-size: 2.2em;
}

.restDetails {
  font-size: .8em;
}

.googleBlue {
  /*background-color: #4285F4;*/
  background-color: #777D38;
}

.lightText {
  color: #eeeeee;
}

.checkIn {
  font-size: 4em;
  margin: 5%
}

#currWait {
  height: 100px;
  width: 100%;
}

.waitTimeButtons {
  height: 150px;
  padding: 0px 15px;
}

.green, #shortWait {
  background-color: #5cb85c;
}

.yellow, #medWait {
  background-color: #f0ad4e;
}

.red, #longWait {
  background-color: #d9534f;
}

.transparent {
  opacity: .8;
}

.btn-group>.btn-default.active:hover {
  color: #111;
}

.btn-group>.btn-default.active, .btn-group>.btn-default.active:focus {
  opacity: 1;
  color: #111;
}

#sweetAlert {
  font-size: 3.5em;
  margin: 0 1em 1em 1em;
}

.waitColorDot {
  position: absolute;
  height: 2.5em;
  right: 6%;
  top: 0;
  bottom: 0;
  margin: auto 20px;
}

.rightChevron {
  position: absolute;
  height: 4em;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 20px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px;
}

/*@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.animated-background {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-background-size: 800px 104px;
  background-size: 800px 104px;
  height: 2em;
  position: relative;
}*/

@media only screen 
and (min-device-width : 736px) {
  .logo {
    width: 25%;
  }
  * {
    font-family: "Lato", "Helvetica";
    font-size: 8px;
    font-weight: 300;
  }

  #distanceTitle {
    padding-right: 1em;
  }

  #waitTitle {
    padding-right: 0.5em;
  }
}

/*Cameron STUFF*/


.scrollable {
   position: relative;
}

#restaurant {
   position: relative;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 1em;
   margin-right: 1em;
   border-radius: 1em;
   border: 5px solid green;
   padding: 2%;
}

.restWait {
   position: absolute;
   color:black;
   border: 1px solid black;
   background-color: blue;
   width: 30%;
   height: 80%;
   border-radius: 2px;
   border-radius: 1em;
}

.restName {
   text-align: right;
   /*width: 70%;*/
   /*right: 0%;*/
   position: relative;
   padding-left: 35%;
   font-family:inherit;
   /*border: 1px solid black;*/
   /*margin-right: 5em;*/

   font-size: 2em;
   color: black;
}

.restDist {
   text-align: right;
   /*border: 1px solid black;*/
   position: relative;
   color: black;

   /*margin-right: 6em;*/
}


/*#backButton {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: black;
}*/


#backButtonDiv {
   position: fixed;
   z-index: 999999;
   top: 2%;
   left: 1%;
   height: auto;
   width: auto;
}
