.logo {
  width: 15%;
}

h1, h2 {
  margin: 10px 0px;
}

.nav {
  text-align: center;
}

.nav li {
  color: ;
  display: inline-block;
}

.center-text {
  text-align: center;
}

#restViewMap {
  height: 500px;
  padding: 0px 15px;
}

.restaurantInfo {
  padding: 40px 30px;
}

.googleBlue {
  background-color: #4285F4;
}

.lightText {
  color: #eeeeee;
}

.list-group {
  padding-left: 15px;
  padding-right: 15px;
}

#currWait {
  height: 100px;
  width: 100%;
}

.waitTimeButtons {
  height: 150px;
  padding: 0px 15px;
}

.green, #shortWait {
  background-color: #5cb85c;
}

.yellow, #medWait {
  background-color: #f0ad4e;
}

.red, #longWait {
  background-color: #d9534f;
}

.transparent {
  opacity: .7;
}

.btn-group>.btn-default.active, .btn-group>.btn-default.active:focus {
  opacity: 1;
  color: #111;
}
