* {
  font-family: Lato;
  font-size: 1.1em;
}

.logo {
  width: auto;
  height: auto;
}

h1, h2 {
  margin: 10px 0px;
}

.nav {
  text-align: center;
}

.nav li {
  display: inline-block;
}

.list-map {
  margin: 0 auto;
  width: 80%;
}

.center-text {
  text-align: center;
}

.mainList {
  text-align: center;
  margin: 2.5%;
}

.listItem {
  width: 85%;
  color: white;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 5%;
  padding: 1.5%;
  opacity: 0.6;
  font-size: 1em;
}

.listItem a {
  text-decoration: none;
}

#restViewMap {
  height: 200px;
  padding: 0px 15px;
}

.restaurantInfo {
  padding: 40px 30px;
}

.googleBlue {
  background-color: #4285F4;
}

.lightText {
  color: #eeeeee;
}

.list-group {
  padding-left: 15px;
  padding-right: 15px;
}

#currWait {
  height: 100px;
  width: 100%;
}

.waitTimeButtons {
  height: 150px;
  padding: 0px 15px;
}

.green, #shortWait {
  background-color: #5cb85c;
}

.yellow, #medWait {
  background-color: #f0ad4e;
}

.red, #longWait {
  background-color: #d9534f;
}

.transparent {
  opacity: .8;
}

.btn-group>.btn-default.active:hover {
  color: #111;
}

.btn-group>.btn-default.active, .btn-group>.btn-default.active:focus {
  opacity: 1;
  color: #111;
}


/*Cameron STUFF*/


.scrollable {
   position: relative;
}

#restaurant {
   position: relative;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 1em;
   margin-right: 1em;
   border-radius: 1em;
   border: 5px solid green;
   padding: 2%;
}

.restWait {
   position: absolute;
   color:black;
   border: 1px solid black;
   background-color: blue;
   width: 30%;
   height: 80%;
   border-radius: 2px;
   border-radius: 1em;
}

.restName {
   text-align: right;
   /*width: 70%;*/
   /*right: 0%;*/
   position: relative;
   padding-left: 35%;
   font-family:inherit;
   /*border: 1px solid black;*/
   /*margin-right: 5em;*/

   font-size: 2em;
   color: black;
}

.restDist {
   text-align: right;
   /*border: 1px solid black;*/
   position: relative;
   color: black;

   /*margin-right: 6em;*/
}


/*#backButton {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: black;
}*/


#backButtonDiv {
   position: fixed;
   z-index: 999999;
   top: 2%;
   left: 1%;
   height: auto;
   width: auto;
}
