 <!-- Main View page for the detailed restaurant info -->

  <div id="restViewWrapper">
          <a ui-sref='listView' id='backButtonDiv'>
          <img id='backButton' src='/assets/Back_Arrow.svg.png'></img>
       </a>
    <!-- Photo Or Map, TBD -->
    <div class="row ngmap">
      <div class="map" map-lazy-load="https://maps.google.com/maps/api/js">
        <ng-map id="restViewMap" center="{{ restaurant.lat }},{{ restaurant.lng }}" zoom="15" style="">
          <marker position = "{{ restaurant.lat }}, {{ restaurant.lng}}"></marker>
        </ng-map>
      </div>
    </div>

    <!-- Main Restaurnt Info -->
    <div class="row googleBlue lightText">
      <div class="col-sm-12 restaurantInfoWrapper">
        <h1 id="restName">{{ restaurant.name }}</h1>
        <h3 class="restInfo">{{ restaurant.rating }} - {{ starString }} - Price: {{ restaurant.price }}</h3>
        <h3>{{ restaurant.category }}</h3>
      </div>
    </div>

    <!-- Address, Hours, Etc -->
    <div class="row">
      <ul class="list-group">

        <li class="list-group-item"><a class="restDetails" target="_blank" ng-href="https://www.google.com/maps/dir/604+Arizona+Ave+Santa+Monica/{{restaurant.address}}">{{ restaurant.address }}</a></li>
        <li class="list-group-item"><h2 class="restDetails">Estimated Wait Time is {{ waitString }}</h2></li>
        <li class="list-group-item"><div id="currWait"></div></li>
      </ul>
    </div>

    <!-- Wait Time -->
    <h1 class="center-block center-text checkIn">Check In</h2>

    <div class="btn-group btn-group-justified waitTimeButtons">

      <div class="btn btn-default transparent" id="shortWait" ng-click="updateWait('0_green')" ui-turn-on='button1' ui-state='button1' ui-class="{'active': button1}" ui-exclusion-group='myButtons'><h1>< 10 Mins</h1></div>

      <a href class="btn btn-default transparent" id="medWait" ng-click="updateWait('1_yellow')" ui-turn-on='button2' ui-state='button2' ui-class="{'active': button2}" ui-exclusion-group='myButtons'><h1>~ 20 Mins</h1></a>

      <a href class="btn btn-default transparent" id="longWait" ng-click="updateWait('2_red')" ui-turn-on='button3' ui-state='button3' ui-class="{'active': button3}" ui-exclusion-group='myButtons'><h1>> 30 Mins</h1></a>

    </div>
  </div>
